build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
# all folders with .idea
.idea
*.iws
*.iml
*.ipr
*s101*
out/
!**/src/main/**/out/
!**/src/test/**/out/

# all .pmd files
*.pmd
infinitest*
/out

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Ignore Gradle files
.gradle
.gradle/
*.metadata*
.java-version
classes/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/server/frontend/generated/flow/generated-flow-imports.d.ts
/server/frontend/generated/flow/generated-flow-imports.js
/server/frontend/generated/vaadin.ts
