/* List view */

.list-view .content {
    display: flex;
}

.list-view .book-grid {
    flex: 2;
}

.list-view .book-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .book-view.editing .toolbar,
    .list-view.editing .book.grid {
        display: none;
    }
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: var(--lumo-space-m);
    padding: var(--lumo-space-m);
}

.book-form .buttons {
    display: flex;
    gap: var(--lumo-space-s);
    justify-content: flex-start;
}